server {
    listen 80 http;
    listen [::]:80 http;

    location / {
        proxy_pass http://rpcnode:8545;
    }
}

server {
    listen 80 http;
    listen [::]:80 http;

    location / {
        root /var/www;
        index index.html;
    }
}
