version: "3.8"

services:
  nginx:
    ports:
      - {{PORT}}:{{PORT}}
    volumes:
      - {{CHAIN_CONFIG_PATH}}:/var/www/chain-config.json:ro
      - {{APPLICATION_PATH}}:/var/www/{{APPLICATION_NAME}}:ro
      - {{APPLICATION_DOMAIN}}_FULLCHAIN:/etc/ssl/certs/{{APPLICATION_DOMAIN}}/fullchain.pem:ro
      - {{APPLICATION_DOMAIN}}_PRIVKEY:/etc/ssl/certs/{{APPLICATION_DOMAIN}}/privkey.pem:ro
